*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

codeml_files/newick_trees_processed/1842_39/.DS_Store

codeml_files/newick_trees_processed/39_0/.DS_Store

codeml_files/newick_trees_processed/.DS_Store
